/* styles.css */
#login {
    display: none;
}

.cabin {
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(86, 238, 83);
    padding: 8px;
    max-width: 150px;
    display: block;
}

body {
    background-color: magenta;
}